<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>401 - Not authenticated!</h1>
    <p>Non hai effettuato l'accesso. Per favore accedi e riprova.</p>
    <a href="/login" class="btn">Login</a>
  </main>
</body>
</html>