<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>403 - Not authorized!</h1>
    <p> <%= errorMessage %> </p>
    <a href="/" class="btn">Go back and sign in as <%= authorName %></a>
  </main>
</body>
</html>