<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>403 - Not authorized!</h1>
    <p>Non hai i permessi necessari. Per favore, accedi con le giuste credenziali e riprova.</p>
    <a href="/" class="btn">Go back and sign in as admin</a>
  </main>
</body>
</html>