<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Not found!' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>404 - NOT FOUND</h1>
    <p>Siamo spiacenti, la risorsa che stai cercando non esiste.</p>
    <a class="btn" href="/">Torna alla homepage!</a>
  </main>
</body>

</html>